<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit_Tags</title>
</head>
<body>
    <div style="width: 100%;height: 15px; border: 3px;text-align: center;margin-top: 5% ;">
        <form method="POST"  action="/updatetags/{{tags.id}}">
            {% csrf_token %}
            <input type="text" placeholder="Update the Task" name="tags" value="{{tags.tags_name}}"><br>
               <a> <Button style="margin-top: 9px;background-color: black;color: white;">Update</Button></a>
        </form>



    </div>
</body>
</html>