<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditCustem</title>
</head>
<body>
    <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custem</title>
</head>
<body>
    <div style="width: 100%;height: 15px; border: 3px;text-align: center;margin-top: 5% ;">
         <form method="POST" action="/updatecustem/{{custem.id}}">
            {% csrf_token %}
           <input type="text" placeholder="Enter the New Custom name" name="custem" value="{{custem.custem}}"><br>
           <Button style="margin-top: 9px;background-color: black;color: white;">Submit</Button>
         </form>
    </div>
</body>
</html>
</body>
</html>